@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities{
    .text-gradient{
        @apply  bg-clip-text text-transparent bg-gradient-to-br from-blue-500 to-sky-700
    }
    .button-primary{
        @apply w-[13rem] bg-slate-900 text-white px-2 py-3 rounded-full outline-none
        focus:scale-110 hover:scale-110 hover:bg-gray-950 active:scale-105 transition
        hover:dark:bg-slate-800 active:dark:bg-slate-800
    }

    .button-secondary{
        @apply w-[13rem] bg-white text-black px-2 py-3 rounded-full outline-none
        focus:scale-110 hover:scale-110 hover:bg-blue-200 active:scale-105 transition
        dark:bg-slate-900 dark:text-slate-50 hover:dark:bg-slate-800 active:dark:bg-slate-800
    }
    .button-icon{
        @apply bg-white p-4 rounded-full text-[1.35rem] outline-none focus:scale-110 hover:scale-110 hover:bg-slate-200 active:scale-105 transition
    }
    .button-contact{
        @apply flex items-center justify-center gap-2 bg-white w-48 p-4 rounded-lg text-[0.95rem] outline-none focus:scale-110 hover:scale-110 hover:bg-slate-200 active:scale-105 transition
        dark:bg-slate-900 dark:text-slate-50
    }
    
    .button-theme{
        @apply w-[3rem] h-[3rem] bg-slate-100 bg-opacity-80 backdrop-blur-[5rem] z-10 border border-white border-opacity-40 shadow-xl rounded-full flex justify-center items-center hover:scale-[1.15] active:scale-105 transition-all 
        dark:bg-slate-900 dark:text-slate-100 dark:border-slate-600
    }
}